n8n-flow/inmolawyer_workflow.json
{
  "name": "InmoLawyer - Análisis de Contratos de Arrendamiento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analizar-contrato",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-recibir-contrato",
      "name": "Webhook - Recibir Contrato",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "inmolawyer-contrato"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "extraer-archivo",
      "name": "Extraer Archivo PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// InmoLawyer - Extractor de Datos v2.0 (Mejorado)\nconst textoContrato = $input.first().json.text || $input.first().json.data || $input.first().json.body?.texto || '';\n\n// Funciones auxiliares\nconst limpiarTexto = (str) => str ? str.trim().replace(/\\s+/g, ' ') : null;\nconst extraerNumero = (str) => str ? str.replace(/[^0-9]/g, '') : null;\nconst parsearMoneda = (str) => {\n  if (!str) return null;\n  const limpio = str.replace(/[$\\s]/g, '').replace(/\\./g, '').replace(',', '.');\n  return parseFloat(limpio) || null;\n};\n\nfunction extraerDatosContrato(texto) {\n  const data = {\n    arrendador: { nombre: null, documento: null, tipoDoc: null },\n    arrendatario: { nombre: null, documento: null, tipoDoc: null },\n    canon: null,\n    fechaInicio: null,\n    duracion: null,\n    direccion: null,\n    ciudad: null\n  };\n\n  // ===== ARRENDADOR =====\n  // Buscar NIT primero (más confiable para sociedades)\n  const patronNIT = /NIT[.:\\s]*([\\d.,\\-]+)/i;\n  const matchNIT = texto.match(patronNIT);\n  if (matchNIT) {\n    data.arrendador.documento = extraerNumero(matchNIT[1]);\n    data.arrendador.tipoDoc = 'NIT';\n  }\n  \n  // Buscar nombre de sociedad (SAS, SA, LTDA)\n  const patronSociedad = /([A-ZÁÉÍÓÚÑ][A-ZÁÉÍÓÚÑ\\s]+(?:SAS|S\\.A\\.S\\.?|SA|S\\.A\\.?|LTDA|LIMITADA))/i;\n  const matchSociedad = texto.match(patronSociedad);\n  if (matchSociedad) {\n    let nombreSociedad = matchSociedad[1];\n    nombreSociedad = nombreSociedad.replace(/^(?:de\\s+una\\s+parte|entre|por\\s+una\\s+parte)\\s+/i, '');\n    data.arrendador.nombre = limpiarTexto(nombreSociedad);\n  }\n\n  // ===== ARRENDATARIO =====\n  const patronArrendatario = /(?:EL\\s+)?ARRENDATARIO[,:\\s]+([A-ZÁÉÍÓÚÑ][a-záéíóúñA-ZÁÉÍÓÚÑ\\s]+?),?\\s*(?:mayor\\s*de\\s*edad)?[,\\s]*(?:identificad[oa]\\s*con\\s*)?(?:c[ée]dula\\s*(?:de\\s*ciudadan[ií]a)?\\s*(?:No\\.?)?\\s*|C\\.?C\\.?\\s*(?:No\\.?)?\\s*)([\\d.,]+)/i;\n  const matchArrendatario = texto.match(patronArrendatario);\n  \n  if (matchArrendatario) {\n    data.arrendatario.nombre = limpiarTexto(matchArrendatario[1]);\n    data.arrendatario.documento = extraerNumero(matchArrendatario[2]);\n    data.arrendatario.tipoDoc = 'C.C.';\n  } else {\n    // Patrón alternativo\n    const patronAlt = /(?:y\\s*de\\s*otra\\s*parte|otra\\s*parte)\\s+([A-ZÁÉÍÓÚÑ][a-záéíóúñA-ZÁÉÍÓÚÑ\\s]+?),?\\s*(?:mayor|identificad)/i;\n    const matchAlt = texto.match(patronAlt);\n    if (matchAlt) {\n      data.arrendatario.nombre = limpiarTexto(matchAlt[1]);\n    }\n    \n    const patronCC = /c[ée]dula\\s*(?:de\\s*ciudadan[ií]a)?\\s*(?:No\\.?)?\\s*([\\d.,]+)/gi;\n    const matchesCC = [...texto.matchAll(patronCC)];\n    if (matchesCC.length > 0) {\n      data.arrendatario.documento = extraerNumero(matchesCC[0][1]);\n      data.arrendatario.tipoDoc = 'C.C.';\n    }\n  }\n\n  // ===== CANON =====\n  const patronesCanon = [\n    /canon\\s*(?:mensual\\s*)?(?:de\\s*)?(?:arrendamiento)?[^$\\d]*\\$?\\s*([\\d.,]+)/i,\n    /\\$\\s*([\\d.,]+)\\s*\\)?[,\\s]*(?:pesos)?/i,\n    /suma\\s*de[^$\\d]*\\$?\\s*([\\d.,]+)/i\n  ];\n  for (const patron of patronesCanon) {\n    const matchCanon = texto.match(patron);\n    if (matchCanon) {\n      data.canon = parsearMoneda(matchCanon[1]);\n      if (data.canon && data.canon > 100000) break;\n    }\n  }\n\n  // ===== DIRECCIÓN =====\n  const patronDireccion = /((?:CARRERA|CALLE|AVENIDA|DIAGONAL|TRANSVERSAL|CRA\\.?|CL\\.?|AV\\.)\\s*[\\dA-Z]+\\s*(?:No\\.?|#)?\\s*[\\dA-Za-z\\-]+(?:\\s*(?:APARTAMENTO|APTO\\.?|APT\\.?|CASA|LOCAL|OFICINA|PISO)\\s*[\\dA-Za-z\\-]+)?)/i;\n  const matchDir = texto.match(patronDireccion);\n  if (matchDir) {\n    data.direccion = limpiarTexto(matchDir[1]);\n  }\n\n  // ===== CIUDAD =====\n  const patronCiudad = /(?:ciudad\\s*de\\s*)?(Bogot[áa]\\s*D\\.?C\\.?|Medell[íi]n|Cali|Barranquilla|Cartagena|Bucaramanga|C[úu]cuta|Pereira)/i;\n  const matchCiudad = texto.match(patronCiudad);\n  if (matchCiudad) {\n    data.ciudad = limpiarTexto(matchCiudad[1]);\n  }\n\n  // ===== FECHA DE INICIO =====\n  const meses = {'enero':'01','febrero':'02','marzo':'03','abril':'04','mayo':'05','junio':'06','julio':'07','agosto':'08','septiembre':'09','octubre':'10','noviembre':'11','diciembre':'12'};\n  const patronFecha = /(\\d{1,2})\\s*(?:de)?\\s*(enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|octubre|noviembre|diciembre)\\s*(?:de|del)?\\s*(\\d{4})/i;\n  const matchFecha = texto.match(patronFecha);\n  if (matchFecha && meses[matchFecha[2].toLowerCase()]) {\n    const dia = matchFecha[1].padStart(2, '0');\n    const mes = meses[matchFecha[2].toLowerCase()];\n    data.fechaInicio = `${matchFecha[3]}-${mes}-${dia}`;\n  }\n\n  // ===== DURACIÓN =====\n  const patronDuracion = /(?:DOCE|SEIS|TRES|VEINTICUATRO)?\\s*\\(?\\s*(\\d+)\\s*\\)?\\s*MESES?/i;\n  const matchDuracion = texto.match(patronDuracion);\n  if (matchDuracion) {\n    data.duracion = parseInt(matchDuracion[1]);\n  } else if (/un\\s*a[ñn]o/i.test(texto)) {\n    data.duracion = 12;\n  }\n\n  return data;\n}\n\nconst datosExtraidos = extraerDatosContrato(textoContrato);\n\nreturn {\n  json: {\n    textoContrato: textoContrato,\n    datosExtraidos: datosExtraidos,\n    archivoNombre: $input.first().json.fileName || 'contrato.pdf',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "extraer-datos-contrato",
      "name": "Extraer Datos del Contrato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "contratos",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "archivo_nombre": "={{ $json.archivoNombre }}",
            "archivo_tipo": "application/pdf",
            "texto_extraido": "={{ $json.textoContrato }}",
            "arrendador_nombre": "={{ $json.datosExtraidos.arrendador.nombre }}",
            "arrendador_documento": "={{ $json.datosExtraidos.arrendador.documento }}",
            "arrendador_tipo_documento": "={{ $json.datosExtraidos.arrendador.tipoDoc }}",
            "arrendatario_nombre": "={{ $json.datosExtraidos.arrendatario.nombre }}",
            "arrendatario_documento": "={{ $json.datosExtraidos.arrendatario.documento }}",
            "arrendatario_tipo_documento": "={{ $json.datosExtraidos.arrendatario.tipoDoc }}",
            "direccion_inmueble": "={{ $json.datosExtraidos.direccion }}",
            "ciudad": "={{ $json.datosExtraidos.ciudad }}",
            "canon_mensual": "={{ $json.datosExtraidos.canon }}",
            "fecha_inicio": "={{ $json.datosExtraidos.fechaInicio }}",
            "duracion_meses": "={{ $json.datosExtraidos.duracion }}",
            "estado": "procesando"
          }
        },
        "options": {
          "returnData": "all"
        }
      },
      "id": "guardar-contrato-db",
      "name": "Guardar Contrato en BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-inmolawyer",
          "name": "PostgreSQL InmoLawyer"
        }
      }
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.3
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un abogado inmobiliario colombiano experto en la Ley 820 de 2003 (Ley de Arrendamiento de Vivienda Urbana). Tu trabajo es analizar contratos y detectar cláusulas potencialmente abusivas o ilegales.\n\nDETECTA ESPECÍFICAMENTE:\n\n1. **DEPÓSITOS EN DINERO (PROHIBIDO - Art. 16)**: Cualquier mención de depósito, garantía en dinero, o suma adicional al canon. Solo se permiten: pólizas de seguro, fianzas bancarias o fiadores personales.\n\n2. **INCREMENTOS SUPERIORES AL IPC (Art. 20)**: Si el contrato menciona incrementos anuales fijos (ej: 10%, 15%), verifica que no excedan el IPC del año anterior. IPC 2023: 9.28%, IPC 2022: 13.12%.\n\n3. **TERMINACIÓN UNILATERAL SIN JUSTA CAUSA**: El arrendador SOLO puede terminar por causales del Art. 22: no pago, subarriendo no autorizado, cambio de destinación, daños, etc.\n\n4. **PREAVISO (Art. 24)**: Se requiere preaviso de 3 meses para terminar. Cláusulas que exijan menos tiempo al arrendatario o más al arrendador son abusivas.\n\n5. **SERVICIOS PÚBLICOS**: Corte de servicios como medio de presión = abusivo.\n\n6. **RENUNCIA A DERECHOS**: Cualquier cláusula donde el arrendatario renuncie a derechos legales es NULA.\n\n7. **PENALIDADES EXCESIVAS**: Multas desproporcionadas por terminación anticipada.\n\nCRITERIOS SCORE:\n- 0-25: Contrato estándar, sin problemas\n- 26-50: Cláusulas ambiguas menores\n- 51-75: Cláusulas potencialmente abusivas\n- 76-100: Cláusulas claramente ilegales\n\nRESPONDE ÚNICAMENTE EN JSON (sin markdown):\n{\n  \"alertas\": [{\"tipo\": \"danger|warning|info\", \"titulo\": \"...\", \"descripcion\": \"...\", \"referencia_legal\": \"Art. X Ley 820/2003\", \"categoria\": \"deposito|incremento|terminacion|preaviso|servicios|renuncia|penalidad\", \"es_clausula_abusiva\": true|false}],\n  \"score_riesgo\": 0-100,\n  \"resumen\": \"Resumen en 2-3 oraciones\",\n  \"recomendaciones\": [\"Acción 1\", \"Acción 2\"]\n}"
            },
            {
              "role": "user",
              "content": "Analiza el siguiente contrato de arrendamiento colombiano y devuelve el análisis en formato JSON:\n\n{{ $json.textoContrato }}"
            }
          ]
        }
      },
      "id": "analisis-ia-contrato",
      "name": "Análisis IA del Contrato",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1120, 300],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsear respuesta de la IA\nconst respuestaIA = $input.first().json.response || $input.first().json.text || $input.first().json;\nconst contratoId = $('Guardar Contrato en BD').first().json.id;\n\nlet analisis;\ntry {\n  // Intentar parsear como JSON\n  const jsonMatch = respuestaIA.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analisis = JSON.parse(jsonMatch[0]);\n  } else {\n    analisis = { alertas: [], score_riesgo: 50, resumen: 'Análisis no estructurado' };\n  }\n} catch (e) {\n  analisis = { alertas: [], score_riesgo: 50, resumen: 'Error al parsear análisis' };\n}\n\n// Preparar alertas para insertar\nconst alertasParaInsertar = (analisis.alertas || []).map(alerta => ({\n  contrato_id: contratoId,\n  tipo: alerta.tipo || 'info',\n  titulo: alerta.titulo || 'Alerta sin título',\n  descripcion: alerta.descripcion || '',\n  referencia_legal: alerta.referencia_legal || '',\n  categoria: alerta.categoria || 'general',\n  es_clausula_abusiva: alerta.es_clausula_abusiva || false,\n  requiere_accion: alerta.tipo === 'danger'\n}));\n\nreturn {\n  json: {\n    contratoId: contratoId,\n    analisis: analisis,\n    alertas: alertasParaInsertar,\n    scoreRiesgo: analisis.score_riesgo || 0,\n    resumen: analisis.resumen || ''\n  }\n};"
      },
      "id": "procesar-respuesta-ia",
      "name": "Procesar Respuesta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "alertas_contrato",
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "guardar-alertas-db",
      "name": "Guardar Alertas en BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-inmolawyer",
          "name": "PostgreSQL InmoLawyer"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "contratos",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "estado": "completado",
            "score_riesgo": "={{ $json.scoreRiesgo }}"
          }
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.contratoId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "actualizar-estado-contrato",
      "name": "Actualizar Estado Contrato",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-inmolawyer",
          "name": "PostgreSQL InmoLawyer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calcular incrementos según IPC\nconst contratoId = $input.first().json.contratoId;\nconst datosContrato = $('Extraer Datos del Contrato').first().json.datosExtraidos;\n\nconst IPC_HISTORICO = {\n  2024: 5.20, 2023: 9.28, 2022: 13.12, 2021: 5.62,\n  2020: 1.61, 2019: 3.80, 2018: 3.18, 2017: 4.09,\n  2016: 5.75, 2015: 6.77, 2014: 3.66, 2013: 1.94\n};\n\nconst incrementos = [];\n\nif (datosContrato.canon && datosContrato.fechaInicio) {\n  const fechaInicio = new Date(datosContrato.fechaInicio);\n  const anioInicio = fechaInicio.getFullYear();\n  const anioActual = new Date().getFullYear();\n  \n  let canonActual = datosContrato.canon;\n  \n  for (let anio = anioInicio; anio < anioActual; anio++) {\n    const ipc = IPC_HISTORICO[anio] || 5.0;\n    const incremento = canonActual * (ipc / 100);\n    const canonNuevo = canonActual + incremento;\n    \n    incrementos.push({\n      contrato_id: contratoId,\n      anio: anio + 1,\n      ipc_aplicado: ipc,\n      canon_anterior: Math.round(canonActual),\n      incremento: Math.round(incremento),\n      canon_nuevo: Math.round(canonNuevo)\n    });\n    \n    canonActual = canonNuevo;\n  }\n}\n\nreturn incrementos.map(inc => ({ json: inc }));"
      },
      "id": "calcular-incrementos",
      "name": "Calcular Incrementos IPC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "incrementos_calculados",
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "guardar-incrementos-db",
      "name": "Guardar Incrementos en BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-inmolawyer",
          "name": "PostgreSQL InmoLawyer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calcular fechas importantes\nconst contratoId = $('Procesar Respuesta IA').first().json.contratoId;\nconst datosContrato = $('Extraer Datos del Contrato').first().json.datosExtraidos;\n\nconst fechasImportantes = [];\n\nif (datosContrato.fechaInicio) {\n  const fechaInicio = new Date(datosContrato.fechaInicio);\n  const duracionMeses = datosContrato.duracion || 12;\n  \n  // Fecha de vencimiento\n  const fechaVencimiento = new Date(fechaInicio);\n  fechaVencimiento.setMonth(fechaVencimiento.getMonth() + duracionMeses);\n  \n  fechasImportantes.push({\n    contrato_id: contratoId,\n    tipo: 'vencimiento',\n    fecha: fechaVencimiento.toISOString().split('T')[0],\n    descripcion: 'Fecha de vencimiento del contrato',\n    dias_anticipacion: 0\n  });\n  \n  // Fecha para notificar desocupación (3 meses antes)\n  const fechaNotifDesocupacion = new Date(fechaVencimiento);\n  fechaNotifDesocupacion.setMonth(fechaNotifDesocupacion.getMonth() - 3);\n  \n  fechasImportantes.push({\n    contrato_id: contratoId,\n    tipo: 'desocupacion',\n    fecha: fechaNotifDesocupacion.toISOString().split('T')[0],\n    descripcion: 'Fecha límite para notificar desocupación (Art. 24 Ley 820)',\n    dias_anticipacion: 90\n  });\n  \n  // Próximo aniversario para incremento\n  const hoy = new Date();\n  const proximoAniversario = new Date(fechaInicio);\n  proximoAniversario.setFullYear(hoy.getFullYear());\n  if (proximoAniversario < hoy) {\n    proximoAniversario.setFullYear(hoy.getFullYear() + 1);\n  }\n  \n  // Fecha para notificar incremento (1 mes antes del aniversario)\n  const fechaNotifIncremento = new Date(proximoAniversario);\n  fechaNotifIncremento.setMonth(fechaNotifIncremento.getMonth() - 1);\n  \n  fechasImportantes.push({\n    contrato_id: contratoId,\n    tipo: 'incremento',\n    fecha: fechaNotifIncremento.toISOString().split('T')[0],\n    descripcion: 'Fecha límite para notificar incremento del canon',\n    dias_anticipacion: 30\n  });\n}\n\nreturn fechasImportantes.map(f => ({ json: f }));"
      },
      "id": "calcular-fechas-importantes",
      "name": "Calcular Fechas Importantes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 500]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "fechas_importantes",
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "guardar-fechas-db",
      "name": "Guardar Fechas en BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2220, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-inmolawyer",
          "name": "PostgreSQL InmoLawyer"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "resumen_contratos",
        "returnAll": false,
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Procesar Respuesta IA').first().json.contratoId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "obtener-resultado-final",
      "name": "Obtener Resultado Final",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2440, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-inmolawyer",
          "name": "PostgreSQL InmoLawyer"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, contratoId: $('Procesar Respuesta IA').first().json.contratoId, datos: $('Extraer Datos del Contrato').first().json.datosExtraidos, analisis: $('Procesar Respuesta IA').first().json.analisis, resumen: $json }) }}"
      },
      "id": "respuesta-webhook",
      "name": "Respuesta al Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta-contrato",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-consulta-chat",
      "name": "Webhook - Consulta Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 600],
      "webhookId": "inmolawyer-chat"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "contratos",
        "returnAll": false,
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.body.contratoId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "obtener-contrato-chat",
      "name": "Obtener Contrato",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 600],
      "credentials": {
        "postgres": {
          "id": "postgres-inmolawyer",
          "name": "PostgreSQL InmoLawyer"
        }
      }
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 2048,
          "temperature": 0.4
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un abogado inmobiliario colombiano experto en la Ley 820 de 2003 (Ley de Arrendamiento de Vivienda Urbana). Respondes consultas legales de manera clara, precisa y fundamentada.\n\nINSTRUCCIONES:\n1. Responde de forma directa y clara (máximo 2-3 párrafos)\n2. Cita el artículo específico de la Ley 820 cuando aplique\n3. Si la pregunta se relaciona con el contrato específico, analiza los datos proporcionados\n4. Proporciona pasos concretos si el usuario pregunta cómo proceder\n5. Usa lenguaje profesional pero accesible\n6. Si detectas situaciones ilegales o abusivas, adviértelo claramente\n\nARTÍCULOS CLAVE - LEY 820 DE 2003:\n- Art. 16: PROHIBIDO depósitos en dinero. Solo se permiten pólizas, fianzas o fiadores\n- Art. 20: Incremento máximo anual = IPC año anterior (2023: 9.28%, 2022: 13.12%)\n- Art. 21: Mora en pago del canon\n- Art. 22: Causales de terminación por el arrendador (no pago, subarriendo, daños, etc.)\n- Art. 23: Causales de terminación por el arrendatario\n- Art. 24: Preaviso obligatorio de 3 meses para terminar\n- Art. 25: Indemnización por terminación anticipada"
            },
            {
              "role": "user",
              "content": "DATOS DEL CONTRATO:\n---\nArrendador: {{ $json.arrendador_nombre }} ({{ $json.arrendador_tipo_documento }} {{ $json.arrendador_documento }})\nArrendatario: {{ $json.arrendatario_nombre }} ({{ $json.arrendatario_tipo_documento }} {{ $json.arrendatario_documento }})\nCanon mensual: ${{ $json.canon_mensual }}\nDirección: {{ $json.direccion_inmueble }}, {{ $json.ciudad }}\nFecha inicio: {{ $json.fecha_inicio }}\nDuración: {{ $json.duracion_meses }} meses\nScore de riesgo: {{ $json.score_riesgo }}/100\n---\n\nPREGUNTA:\n{{ $('Webhook - Consulta Chat').first().json.body.pregunta }}"
            }
          ]
        }
      },
      "id": "respuesta-ia-chat",
      "name": "Respuesta IA Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [680, 600],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "consultas_chat",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contrato_id": "={{ $('Webhook - Consulta Chat').first().json.body.contratoId }}",
            "pregunta": "={{ $('Webhook - Consulta Chat').first().json.body.pregunta }}",
            "respuesta": "={{ $json.response || $json.text || $json.output || '' }}",
            "modelo_ia": "claude-3-haiku-20240307"
          }
        },
        "options": {}
      },
      "id": "guardar-consulta-chat",
      "name": "Guardar Consulta Chat",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 600],
      "credentials": {
        "postgres": {
          "id": "postgres-inmolawyer",
          "name": "PostgreSQL InmoLawyer"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, respuesta: $('Respuesta IA Chat').first().json.response || $('Respuesta IA Chat').first().json.text || $('Respuesta IA Chat').first().json.output || '', referencia: 'Ley 820 de 2003' }) }}"
      },
      "id": "respuesta-chat-webhook",
      "name": "Respuesta Chat Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 600]
    }
  ],
  "connections": {
    "Webhook - Recibir Contrato": {
      "main": [
        [
          {
            "node": "Extraer Archivo PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Archivo PDF": {
      "main": [
        [
          {
            "node": "Extraer Datos del Contrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos del Contrato": {
      "main": [
        [
          {
            "node": "Guardar Contrato en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Contrato en BD": {
      "main": [
        [
          {
            "node": "Análisis IA del Contrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Análisis IA del Contrato": {
      "main": [
        [
          {
            "node": "Procesar Respuesta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Respuesta IA": {
      "main": [
        [
          {
            "node": "Guardar Alertas en BD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Actualizar Estado Contrato",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calcular Incrementos IPC",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calcular Fechas Importantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Incrementos IPC": {
      "main": [
        [
          {
            "node": "Guardar Incrementos en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Incrementos en BD": {
      "main": [
        [
          {
            "node": "Obtener Resultado Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Fechas Importantes": {
      "main": [
        [
          {
            "node": "Guardar Fechas en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Resultado Final": {
      "main": [
        [
          {
            "node": "Respuesta al Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Consulta Chat": {
      "main": [
        [
          {
            "node": "Obtener Contrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Contrato": {
      "main": [
        [
          {
            "node": "Respuesta IA Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta IA Chat": {
      "main": [
        [
          {
            "node": "Guardar Consulta Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Consulta Chat": {
      "main": [
        [
          {
            "node": "Respuesta Chat Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "InmoLawyer",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Contratos",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
